.git
.gitignore

.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rprofile

renv/library
renv/staging
renv/python
renv/local

*.tar.gz
*.zip
*.Rcheck

docs
inst/doc
vignettes/*.html
vignettes/*.pdf

dev
data

llm_onboarding_export
log_file.log
*.log

*.tmp
*~
.*~

.DS_Store
Thumbs.db